In [69]:
# Hello from the afternoon class!
# Using the "!" prefix, you can run code as-if from the console.
!python --version

Python 3.11.7

In [66]:
# the 'print' function
print("Hello World!")

Hello World!

In [70]:
# 'help' function
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [71]:
# 'dir' function
dir('Marysia')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [72]:
'Marysia'.upper()

'MARYSIA'

In [78]:
my_variable = 1

In [79]:
print(my_variable)

1

In [80]:
my_variable =  my_variable + 0.5
print(my_variable)

1.5

In [81]:
type(my_variable)

float

In [82]:
# Data types: string

my_val = 'Marysia'

print(my_val)
print(my_val.upper())
type(my_val)

Marysia
MARYSIA

str

In [83]:
# Data types: int

my_val = 1

print(my_val)
type(my_val)

1

int

In [84]:
# Data types: float

my_val = 1.43277849832343

print(my_val)
type(my_val)

1.43277849832343

float

In [85]:
# data types: Boolean
my_val = True

print(my_val)
type(my_val)

True

bool

In [89]:
# casting data to another type

my_text = '1'
print(type(my_text))

my_int = int(my_text)
print(type(my_int))

my_float = float(my_text)
print(type(my_float))

my_bool = bool(my_text)
print(type(my_bool))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [96]:
bool(0.000001)

True

In [ ]:
# ANY QUESTIONS SO FAR?

In [ ]:
# Phython built-in data structures:
# - list
# - dictionary
# - set
# - tuple
# - range

In [98]:
# list

my_list = [1, 'tree', 4.5414, True]

# adding to lists

# 'pop' function

# indexing

# lists and mutability
# you can reassign items to a list at a specified index, as well as add and remove items
# - this means lists are mutable

In [100]:
my_list[1] = 'flower'

In [101]:
my_list

[1, 'flower', 4.5414, True]

In [102]:
my_list.append(3.14)

In [103]:
my_list

[1, 'flower', 4.5414, True, 3.14]

In [106]:
my_list.pop(2)

4.5414

In [107]:
my_list

[1, 'flower', True]

In [111]:
# INDEXING
my_list[-4]

IndexError: list index out of range

In [ ]:
my_list[-4]

In [ ]:
my_list[0] = 5.67

In [ ]:
my_list

In [112]:
new_list = [1, 1, 1]

In [116]:
new_list

[1, 1, 1]

In [114]:
# set
my_set = {1, 1, 1}
my_set

# sets and order

# adding to sets

# sets and mutability
# you can add and subtract values to a set - this means sets are mutable

{1}

In [115]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [117]:
new_set = set(new_list)
new_set

{1}

In [118]:
# dictionary
my_dict = {
    'name': 'Marysia',
    'city': 'London',
}

# dictionaries and order

# keys, values and items

# dictionaries and mutability
# you can re-assign values to dictionary keys - this means dictionaries are mutable

In [119]:
my_dict['name']

'Marysia'

In [120]:
my_dict.keys()

dict_keys(['name', 'city'])

In [121]:
my_dict.values()

dict_values(['Marysia', 'London'])

In [122]:
my_dict.items()

dict_items([('name', 'Marysia'), ('city', 'London')])

In [124]:
dict_items = my_dict.items()
# my_tuple = dict_items[0]

In [125]:
# tuple
my_tuple = ('name', 'Marysia')
type(my_tuple)

# tuples and mutability
# you can't assign items to a tuple (replace items at an index) - tuples are immutable
# this makes them handy for storing data you don't want people to be able to change

tuple

In [126]:
my_tuple[0]

'name'

In [127]:
my_tuple[0] = 'city'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# QUESTIONS? :)

In [ ]:
# conditional statements

# TASK: check if a number is even or odd

In [ ]:
# QUESTION 1: what will happen if I put a 'float' data type in the cell above?

# QUESTION 2: how would we remove the repetitions from that code?

# QUESTION 3: can you write it in a single line?

In [ ]:
# for loops and indexing

# TASK: spell out a word using a "range" object
# TIP: do you remember the "%" operator from JavaScript classes?

In [ ]:
# for loop without indexing

# TASK: spell out a word iterating directly over it

In [ ]:
# for loop and list comprehension

In [ ]:
# TIME FOR QUESTIONS OR RECAP IF NEEDED :)

In [ ]:
# ADVANCED: let's get back to the if statement and try to turn it into a function!